@font-face {
    font-family: 'Kabouter';
    src: url('/fonts/Kabouter.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BlackCoffee';
    src: url('/fonts/BlackCoffee.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MilkyCoffee';
    src: url('/fonts/MilkyCoffee.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  